ion-avatar{
    --border-radius:10px;
}

.bottom_avtar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    
}
ion-avatar{
    width:150px; height:150px;
}
